//nice smooth transitions for resizing
* { 
    transition: margin .3s ease-out; 
    -webkit-transition: margin .3s ease-out;
    -moz-transition: margin .3s ease-out;
    -o-transition: margin .3s ease-out;
} 

body{
	font-size: 14px;
	line-height: 1.4;
}

a{
	color: @link-color;
	&:hover{
		color: @link-color-hover;
	}
}
h1{
	font-weight: normal;
	margin-top: 0;
}
h1,h2,h3,h4,h5,h6{
    .headline-font();
    line-height: 1.2;
}


@import "nav-base.less";

#wrapper{
	padding: 10px;
}

#mprnews-content{
	font-family: @font-family-base;
}

#sidebar{
	padding: 10px;
	//background-color: @black-10;
}