//nice smooth transitions for resizing
* { 
    transition: margin .3s ease-out; 
    -webkit-transition: margin .3s ease-out;
    -moz-transition: margin .3s ease-out;
    -o-transition: margin .3s ease-out;
} 

body{
	font-size: 14px;
	line-height: 1.4;
}

a{
	color: @link-color;
	&:hover{
		color: @link-color-hover;
	}
}
h1{
	font-weight: normal;
	margin-top: 0;
}
h1,h2,h3,h4,h5,h6{
    .headline-font();
    line-height: 1.2;
}


@import "nav/base";
@import 'paginators/base';
@import 'footer/base';

#wrapper{
	padding: 10px;
}

#mprnews-content{
	font-family: @font-family-base;
	background-color: rgba(255,0,0,0.2);
}

#sidebar{
	//padding: 10px;
	//background-color: @black-10;
	background-color: rgba(0,255,0,0.2);
    padding: 0;
    margin: 0 0 0 0;
    
    ul, li{
        list-style-type: none;
    }
    ul{
    	padding-left: 0;
    }


}






/* ==========================================================================
   Helper elements to see what device size we're on. See note in base.tpl.
   ========================================================================== */
#checkSmall  { display: block;}
#checkMedium { display: none;}
#checkLarge	 { display: none;}
#checkXlarge { display: none;}
