
#wrapper{
	max-width: 1440px;
	margin: 0 auto;
	.clearfix();
}

#mprnews-content{
    width: 52%;
    margin: 0 6%;
    float: left;
    max-width: 730px;
}

#sidebar{
    width:  300px;
    margin: 0 2% 0 0;
    float: right;
    ul, li{
        list-style-type: none;
    }
    ul{
    	padding-left: 0;
    }
}