body{
	font-size: 18px;
}


#paginators{
	a{
		//most of this is just placeholder for better css layout
		position: fixed;
		display: block;
		background-color: @light-blue;
		height: 120px;
		width: 20px;
		top: 45%;
		&#prev{
			left: 0;
		}
		&#next{
			right: 0;
		}


	}
}