#mprnews-nav{
	width: 100%;
	background-color: @body-background;
	padding: 10px 0;
	border-bottom: @border;
	text-align: center;
	a{
		text-decoration: none;
		font-weight: bold;
	}
	ul, li{
		padding: 0;
		margin: 0;
	}
	li{
		list-style-type: none;
		text-align: left;
	}
	.contribution-link{
		color: @brand-warning;
		border: 2px solid @brand-warning;
	}
} 
#news-logo{
	width: 200px;
	margin: 0 auto;
	//position:;
}

#nav-search{

	&:before{
		content: "\e000";
		font-family: 'mpr-feature';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}
	width: 40px;
	float: right;
	input{ display: none; }

}
#nav-top-opener{
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background: url(/img/hamburger.svg) no-repeat;
}
#nav-top{
	height: 0;
	overflow: hidden;
}

// hide contribution link in mobile
div .contribution-link{ display: none;}