#news-logo{
	width: 200px;
	margin: 0 auto;
	padding-top: 8px;
	.transition(~"margin 0");
}
.no-svg #news-logo{ //compat for ie8
	img{ display: none;}
	a{
		display: block;
		width: 171px;
		height: 24px;
		margin: 0 auto;
		background: transparent url('/img/mprnews.png') no-repeat center center;
	}
}

#mprnews-nav{
	width: 100%;
	background-color: @body-background;
	//padding: 10px 0;
	height: 42px;
	border-bottom: @border;
	text-align: center;
	a{
		text-decoration: none;
		font-weight: bold;
	}
	ul, li{
		padding: 0;
		//margin: 0;
	}
	li{
		list-style-type: none;
	}
	.contribution-link{
		color: @brand-warning;
		border: 2px solid @brand-warning;
		text-transform: uppercase;
		padding: 0 8px;
		font-weight: bold;
	}

} 
//keeping this selector un-nested in less to generate simpler selectors

// #nav-news-sections{
// 	// .header.secondary{  //hide section title on mobile
// 	// 	display: none;
// 	// }
// }



#nav-top{
	//position: absolute;
	.transition(~"margin 0");
	a.contribution-link{
		display: inline-block;
		margin: 10px;
	}
	ul{
		display: none;
		width: 100%;
		padding: 10px;
		//border-top: @border;
		
	}
	li{
		text-align: left;
		line-height: 2em;
		&.header{
			a, span{
			color: @context-text;
			font-weight: bold;
			}
			span{
				padding-left: 10px;
			}
		}
		span.header{ 
			padding-left: 10px; 
			color: @context-text;
		}
		li.header{
			padding: 10px 10px 0 0;
		}
		&.nav-secondary{
			display: none;
		}
		&.current a{
			color: @current;
		}
		&.classical a{
			color: @classical;
		}
		ul, ul li{
			padding: 0;
			//margin: 0;
		}
	}
	a{
		display: block;   //make links the whole width
		font-size: 1.14em; //16px
		//font-weight: normal;
		padding: 0 10px;
		&:hover{
			background-color: @light-blue;
		}
	}
	&:hover, &.nav-open{
		//width: 100%;
		position: relative;
		#nav-list{
			//padding: 10px;
			display: block;
			
			width: 100%;
			margin-top: 42px;
			.transition(~"margin 0");
			position: absolute;
			z-index: 30;
			padding-bottom: 10px;
			ul{
				display: block;
				//border-top: @border;
				&.sub{
					display: none;
				}
			}
		}
		#nav-primary{
			background-color: #fff;
			padding: 0 0 1em 0;
			margin: 0;
		}
		#nav-top-opener{
			height: 42px;
			margin-top: 0px;
			background-position: 6px 10px;
			background-color: white;
			//margin-left: 0;
		}

	}
	.nav-dropdown{
		//margin-top: 10px;
		font-weight: bold;
	}
	.nav-dropdown-header{ display: none;}
	#nav-news-sections{
		//.header a{ font-weight: bold;}
		a{
			font-weight: normal;
		}
	}
	span{
		font-size: 1.14em; //16px
	}
}
ul.nav-sub li{
	width: 50%;
	float: left;
	&.mpr, &.header, &.has-sub{ width: 100%;}
	&.has-sub{ margin-top: 10px;}
}
ul.nav-sub{
	.clearfix();
}
#nav-services .header{ font-weight: bold;}
#nav-more{ 
	margin-top: 10px;
	a.nav-dropdown-header{ display: block; color: @context-text;}  // make more header show up on mobile
}
#more-sub-primary-services, 
#more-sub-primary-services-header,
#more-sub-mpr-header{ display: none;} //hide on small and medium
#more-streams a{ 
	font-weight: normal;
	color: lighten(@brand-primary, 15%); 
}

#nav-top-opener{
	display: block;
	//background-color: red;
	float: left;
	width: 50px;
	height: 32px;  //32
	margin-top: 5px;
	margin-left: 0;
	background-repeat: no-repeat;
	background-position: 6px 5px;
	border-right: @border;
	background-image: url('/img/hamburger.svg');
	.transition(~"margin 0");
}
.no-svg #nav-top-opener{
	background-image: url('/img/hamburger.png');
}

// hide contribution link in mobile
#nav-top-contribution{ display: none;}


#nav-weather{
	display: none;
}

/* 
 * Very helpful:
 * http://tympanus.net/codrops/2013/06/26/expanding-search-bar-deconstructed/
 */
#nav-search{
	position: absolute;
	right: 0;
	top: 0;
	width: 0%;
	min-width: 50px;
	//margin-top: 10px;
	overflow:hidden;
	float: right;
	-webkit-backface-visibility: hidden;
	.transition(~"width 200ms");
	border-left: @border;
	height: 32px;
	margin-top: 5px;

	input[type="search"], .searchfield{
 	    -webkit-appearance: none;
        -webkit-border-radius: 0px;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
	}

	label{  //need to check on accessibility for this
		height: 0;
		width: 0;
		overflow: hidden;
		display: block;
	}

	.search-icon,
	.search-submit{
		width: 50px;
	    height: 42px;
	    display: block;
	    position: absolute;
	    right: 0;
	    top: 0;
	    padding: 0;
	    margin: 0;
	    line-height: 48px;
	    text-align: center;
	    cursor: pointer;
	    .transition(~"margin 0");
	}
	//intially hide the submit button
	.search-submit{
		background: #fff; /* IE needs this */
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
	    filter: alpha(opacity=0); /* IE 5-7 */
	    opacity: 0;
	    color: transparent;
	    border: none;
	    outline: none;
	    z-index: -1;
	}
	.search-icon{
		background: #fff;
	    z-index: 90;
	    -webkit-font-smoothing: antialiased;
	    margin-top: -5px;
	    &:before{
	    	font-size: 18px;
			content: "\e000";
			font-family: 'mpr-feature';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			width: 40px;
		}
	}

	.searchbox{
		// position: absolute;
		// top: 0;
		// right: 0;
		border: none;
		outline: none;
		background: #fff;
		width: 100%;
		height: 40px;
		margin: 0;
		z-index: 10;
		padding: 0px 65px 0px 20px;
		//font-family: inherit;
		//font-size: 20px;
		color: @text-color;
	}
	//set placeholder text using vendor prefixes
	.searchbox::-webkit-input-placeholder {  	color: @context-text; }
	.searchbox:-moz-placeholder { 			    color: @context-text; }
	.searchbox::-moz-placeholder {			    color: @context-text; }
	.searchbox:-ms-input-placeholder {  	    color: @context-text; }
	
	//input{ display: none; }
	//
	//
	// input[type="search"]::-webkit-search-cancel-button {

	// 	    -webkit-appearance: none;
		    
	// 	    /* Now your own custom styles */
	// 	    height: 10px;
	// 	    width: 10px;
	// 	    background: red;
	// 	    /* Will place small red box on the right of input (positioning carries over) */
	// }
	
	&.search-open,
	&:hover,
	&:focus,{
		width: 100%;
		height: auto;
		margin-top: 0;
		//margin-left: 48px;
		border-left: 0;
		.search-icon{
			background-color: @light-blue;
			margin-top: 0;
		}
		.searchbox{
			margin-top: 0;
			margin-left: 48px;
			border-left: @border;
			
		}
	}

}
.lt-ie9 #nav-search{
	&.search-open,
	&:hover,
	&:focus,{
		.searchbox{
			//margin-top: -2px;
			height: 38px;
			//padding-top:5px;
		}
	}
}
/*  We only want to change the z-index on non-touch devices
	This makes sure that on touch devices without js, it works on a the :hover/:focus psuedo selectors
	Only downside is that the search icon is not a clickable thing on non-js touch devices
*/
.no-touch #nav-search{
	&.search-open{  
		.search-icon{
			z-index: 11;
		}
		.search-submit{
			z-index: 90;
		}
	}
}

//empty div that is used on large screen to simulate full width, we put a border on it
#nav-faux-wrapper{
	display: none;
}