#mprnews-nav{
	position: relative;
	margin: 0 auto;
	max-width: 1130px;
	border-bottom: none;
}
// #wrapper{
// 	background-color: purple;
// }

#news-logo{
	position: absolute;
	left: 10px;
	margin: 0;
}


#nav-top-contribution{

}
#nav-list{
	width: auto;
	background: transparent;
}

#nav-list ul {
	//float: left;
	//padding: 0;
	li{
		display: none;
		&.nav-dropdown{
			display: inline-block;
			margin-top: 0;
			float: none;
			width: auto;
			border: none;
			display: inline-block;
			&:hover{
				display: inline;
				ul{
					position: absolute;
					display: block;
					width: 100%;
					height: 400px;
					margin-left: 0 !important; 
					left: 0;
					top: 54px;
					 background-color: rgba(0,255,0,0.5);
					//background-color: #fff;
					li{
						display: inline-block;
					}
				}
			}
			ul{
				display: none;

			}
		}
		a.nav-dropdown-header{
			display: inline-block;
			padding: 9px 6px;
			font-weight: normal;
		}
	}

}


#nav-top{
	position: static;
	&:hover, &.nav-open{
		position: static;
		#nav-list{
			//width: auto;
			margin: 0;
			position: static;
			padding-bottom: 0;
			ul#nav-primary{ 
				margin-left: 220px;
			}
		}
		#nav-top-opener{
			display: none;
		}
	}
	ul#nav-primary{
		min-width: 0;
		display: block;
		position: static;
		float: left;
		margin-left: 220px;
		width: 400px;
		height: 50px;
		padding: 0;
		text-align: left;
	}
}
#nav-top-opener{
	display: none !important;
}
// #nav-services, #nav-more, #nav-news-sections{
// 	float: none;
// 	width: auto;
// 	border: none;
// }

#nav-faux-wrapper{
	display: block;
	width: 100%;
	border-top: @border;
}

/*
 Move elements left 25 px to accomodate the paginators
 */
#nav-top-contribution{
	right: 205px;
}
#nav-weather{
	right: 85px;
}
#nav-search{
	margin-right: 25px;
	.searchbox{
		height: 52px;
	}
	&.search-open,
	&:hover,
	&:focus,{
		.searchbox{
			margin-left: 240px;
		}
		.search-icon:before{
			line-height: 50px;
		}
	}
}