#mprnews-nav{
	position: relative;
	margin: 0 auto;
	max-width: 1130px;
	border-bottom: none;
}

#news-logo{
	position: absolute;
	left: 10px;
	top: 5px;
	margin: 0;
	border-right: @border;
	img{
		margin-top: -4px;
		paddding-bottom: 3px;
	}
}


#nav-top-contribution{

}
#nav-list{
	width: auto;
	background: transparent;
}

#nav-list ul {
	li{
		display: none;
		&.nav-dropdown{
			display: inline-block;
			margin-top: 0;
			float: none;
			width: auto;
			border: none;
			display: inline-block;
			&:hover, &.nav-open {  				// this is where safari has trouble   &.nav-open, 
			 	display: inline !important; 
				div.nav-sub-wrapper{
					position: absolute;
					display: block;
					width: 100%;
					margin-left: 0 !important; 
					left: 0;
					top: 54px;
					background-color: #fff;
					border-bottom: @border;
					padding: 10px 0 20px 15px;
					a:hover{
						text-decoration: underline;
					}
				}

				a.nav-dropdown-header{
					background-color: #fff;
					border-left: @border;
					border-right: @border;
					padding-bottom: 9px;
					color: @link-color-hover;
				}
				ul{ 
					display: block !important;
					font-size: 0.95em; //16px
					&.nav-sub{
						float: left;
						ul li{
							width: 100%;
						}					
						#more-sub-primary-services{
							width: 44%;
						}
						#more-sub-secondary-services{
							width: 56%;
							a{ font-weight: normal; }
						}
						&.services {
							width: 39%;
						}
						&.more{ 
							width: 61%;
							padding-left: 20px;
							border-left: @border;
						}

						li{
							display: block;
							width: 33.33%;
							float: left;

						}
						li.mpr, li.header{ width: 100%; padding-top: 0;}
					}
					&.sub{
						li{
							width: 100%;
							display: block;
							a{ font-weight: normal; }
						}
					}
				}
				li{
					display: inline-block;
				}
				//}
				ul.sub{
					display: block;
				}
			}
			li{
			 	line-height: 1.8;
			}

		}
		a.nav-dropdown-header{
			display: inline-block;
			padding: 9px 10px 7px 12px;
			font-weight: normal;
			border-left: 2px solid #fff;
			border-right: 2px solid #fff;
		}
	}

}

#nav-top{
	position: static;
	&:hover, &.nav-open{
		position: static;
		#nav-list{
			//width: auto;
			margin: 0;
			position: static;
			padding-bottom: 0;
			ul#nav-primary{ 
				margin-left: 208px;
			}
		}
		#nav-top-opener{
			display: none;
		}
	}
	ul#nav-primary{
		min-width: 0;
		display: block;
		position: static;
		float: left;
		margin-left: 208px;
		width: 400px;
		height: 50px;
		padding: 0;
		text-align: left;
	}
	a:hover{
		background-color: transparent;
	}
}
#news-sections-header, #more-sections-header, #members-sections-header{
	&:after{
		padding-left: 3px;
		font-size: 10px;
		content: "\e002";
		font-family: 'mpr-feature';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}

}
#nav-top-opener{
	display: none !important;
}
// #nav-services, #nav-more, #nav-news-sections{
// 	float: none;
// 	width: auto;
// 	border: none;
// }

#nav-faux-wrapper{
	display: block;
	width: 100%;
	border-top: @border;
}

/*
 Move elements left 25 px to accomodate the paginators
 */
#nav-top-contribution{
	right: 205px;
}
#nav-weather{
	right: 85px;
}
#nav-search{
	margin-right: 25px;
	.searchbox{
		height: 52px;
	}
	&.search-open,
	&:hover,
	&:focus,{
		.searchbox{
			margin-left: 233px;
		}
		.search-icon:before{
			line-height: 50px;
		}
	}
}